<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Employee Management</title>
    
    <!-- Loading animation -->
    <script th:src="@{js/pace.min.js}"></script>

    <!-- Bootstrap core CSS and Material Bootstrap -->
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{css/bootstrap-material-design.css}" rel="stylesheet">
    <link th:href="@{css/ripples.min.css}" rel="stylesheet">
    <link th:href="@{css/material-scrolltop.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{css/material-blog.css}" rel="stylesheet">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <br />
	<div class="container ">

      <div class="row">

        <div class="col-sm-12 blog-main">

          <div class="row">
            <div class="col-md-12">
              <section class="blog-post">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <div class="blog-post-content">
                      <h1 class="blog-post-title">Employee Management Screen</h1> <br />
                      
                      <div class="navbar navbar-inverse">
                        <div class="container-fluid">
                          <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" th:href="@{/index}">Manage Employee Information</a>
                          </div>						  
                        </div>						
                      </div>
						
					  <h2 class="blog-post-title">Employee Registration</h2>
                      <form class="form-horizontal style-form" th:action="@{/addEmployee}" th:object="${employee}" method="POST">
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label">Name</label>
                            <div class="col-sm-10">
                                <input type="text" th:field="*{name}" class="form-control" required="required">
                            </div>
                        </div>
						<div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label">Age</label>
                            <div class="col-sm-10">
                                <input type="text" th:field="*{age}" class="form-control" required="required">
                            </div>
                        </div>
						
						<div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label">Address</label>
                            <div class="col-sm-10">
								  <select class="form-control" th:field="*{address}" required="required">
								    <option value="">Select.....</option>
								     <option value="London">London</option>
								     <option value="USA">USA</option>
								     <option value="Spain">Spain</option>
								  </select>
                            </div>
                        </div>
						
						<button class="btn btn-primary" type="submit" name="save-btn" value="save">Save</button>
						<a th:href="@{'/index'}" class="btn btn-warning">Cancel</a>
                      </form>
                    </div>
                  </div>
                </div>
              </section><!-- /.blog-post -->
            </div>
          </div>

        </div><!-- /.blog-main -->

      </div><!-- /.row -->

    </div><!-- /.container -->

    

    <button class="material-scrolltop primary" type="button"></button>

    <script th:src="@{js/jquery-1.11.3.min.js}"></script>
    <script th:src="@{js/bootstrap.min.js}"></script>
    <script th:src="@{js/ripples.min.js}"></script>
    <script th:src="@{js/material.min.js}"></script>
    <script th:src="@{js/material-scrolltop.js}"></script>
    <script th:src="@{js/main.js}"></script>

    <script>
      $.material.init();
      $('body').materialScrollTop();
    </script>

  </body>
</html>
